<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>root</string>
		<key>name</key>
		<string>全部</string>
		<key>childList</key>
		<array>
			<dict>
				<key>id</key>
				<string>00329fa47d87424c8be383f8d2fe96f3</string>
				<key>name</key>
				<string>职业课程</string>
			</dict>
			<dict>
				<key>id</key>
				<string>0af1b153b99b45d7b27b55ed02acdd66</string>
				<key>name</key>
				<string>科普中国</string>
			</dict>
			<dict>
				<key>id</key>
				<string>681e8bdf91a44a53b6ef32047dcb772d</string>
				<key>name</key>
				<string>兴趣生活</string>
			</dict>
			<dict>
				<key>id</key>
				<string>00329fa47d87424c8be383f8d2fe96f3</string>
				<key>name</key>
				<string>新华视频</string>
			</dict>
			<dict>
				<key>id</key>
				<string>00329fa47d87424c8be383f8d2fe96f3</string>
				<key>name</key>
				<string>金融学院</string>
			</dict>
			<dict>
				<key>id</key>
				<string>00329fa47d87424c8be383f8d2fe96f3</string>
				<key>name</key>
				<string>语言学习</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>00329fa47d87424c8be383f8d2fe96f3</string>
		<key>name</key>
		<string>职业课程</string>
		<key>childList</key>
		<array>
			<dict>
				<key>id</key>
				<string>00329fa47d87424c8be383f8d2fe96f3</string>
				<key>name</key>
				<string>IT</string>
			</dict>
			<dict>
				<key>id</key>
				<string>0af1b153b99b45d7b27b55ed02acdd66</string>
				<key>name</key>
				<string>互联网新闻从业人员</string>
			</dict>
			<dict>
				<key>id</key>
				<string>681e8bdf91a44a53b6ef32047dcb772d</string>
				<key>name</key>
				<string>公务员</string>
			</dict>
			<dict>
				<key>id</key>
				<string>00329fa47d87424c8be383f8d2fe96f3</string>
				<key>name</key>
				<string>电子商务</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>0af1b153b99b45d7b27b55ed02acdd66</string>
		<key>name</key>
		<string>科普中国</string>
		<key>childList</key>
		<array>
			<dict>
				<key>id</key>
				<string>00329fa47d87424c8be383f8d2fe96f3</string>
				<key>name</key>
				<string>科技前沿</string>
			</dict>
			<dict>
				<key>id</key>
				<string>0af1b153b99b45d7b27b55ed02acdd66</string>
				<key>name</key>
				<string>名家风采</string>
			</dict>
			<dict>
				<key>id</key>
				<string>681e8bdf91a44a53b6ef32047dcb772d</string>
				<key>name</key>
				<string>科学原理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>681e8bdf91a44a53b6ef32047dcb772d</string>
		<key>name</key>
		<string>兴趣生活</string>
		<key>childList</key>
		<array>
			<dict>
				<key>id</key>
				<string>00329fa47d87424c8be383f8d2fe96f3</string>
				<key>name</key>
				<string>诸子百家</string>
			</dict>
			<dict>
				<key>id</key>
				<string>0af1b153b99b45d7b27b55ed02acdd66</string>
				<key>name</key>
				<string>国学</string>
			</dict>
			<dict>
				<key>id</key>
				<string>681e8bdf91a44a53b6ef32047dcb772d</string>
				<key>name</key>
				<string>书法</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>892a45f9a2f8415496d2aa6d91eb5110</string>
		<key>name</key>
		<string>新华视频</string>
		<key>childList</key>
		<array>
			<dict>
				<key>id</key>
				<string>1d116b816a134b38a2a51fdeb853f0d5</string>
				<key>name</key>
				<string>国家相册</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>cc1686144af840d39c65ed24362a3317</string>
		<key>name</key>
		<string>金融学院</string>
		<key>childList</key>
		<array>
			<dict>
				<key>id</key>
				<string>34160154fb7a439788d830a82e3d4dbd</string>
				<key>name</key>
				<string>商学院</string>
			</dict>
			<dict>
				<key>id</key>
				<string>51e3468d1b5d4bf6b8bdd46b8a220e6d</string>
				<key>name</key>
				<string>纽约金融学院</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>cdd79f25d484470f898a89758e1c9ab9</string>
		<key>name</key>
		<string>语言学习</string>
		<key>childList</key>
		<array>
			<dict>
				<key>id</key>
				<string>00329fa47d87424c8be383f8d2fe96f3</string>
				<key>name</key>
				<string>英语</string>
			</dict>
			<dict>
				<key>id</key>
				<string>5b587d517fb14a5d815da358dc4ba6be</string>
				<key>name</key>
				<string>小语种</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
